.slider-content {
    margin-right: 1rem;
}
@media only screen and (min-width: 768px) {
    .slider-content {
        margin-right: 3rem;
    }
}
.slider-title, .slider-logo {
    text-align: right;
}
.slider-separator {
    margin-left: auto;
}
.slider-text {
    text-align: right;
}
.slider-button {
    float: right;
}