.our-team {
    padding-top: 3rem;
}

.our-team-container {
    width: 100%;
    padding: 15px 20px 0 20px !important;
    margin: 0 auto;
}

.team{
    padding:75px 0;
}

h6.description{
    font-weight: bold;
    letter-spacing: 2px;
    color: #999;
    border-bottom: 1px solid rgba(0, 0, 0,0.1);
    padding-bottom: 5px;
}

.profile{
    margin-top: 25px;
    height: 320px;
    margin: 0 auto;
}

.profile .team-member-name {
    font-weight: 600;
    color: #c7a77a;
    font-size: 20px;
    margin: 10px 0 0 0;
    font-family: 'Bad Script';
}

.profile .team-member-job {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.profile .team-member-phone {
    color: #c7a77a;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    font-family: 'Crimson Text', serif;
    letter-spacing: 1px;
}

.team-member ul{
    position: absolute;
    z-index: 2;
    bottom: 100px;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    height: 0px;
    margin:0px;
    opacity: 0;
}

.profile .team-member:after, .team-member ul, .team-member ul li{
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.team-member ul i{
    color: #fff;
    font-size: 40px;
    letter-spacing: 10px;
}

.team-member ul li{
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 2px;
    padding: 5px;
    display: inline-block;
}

.team-member ul p{
    color: #fff;
}

.team-member ul li span{
    font-size: 10px;
}

.team-member:hover:after{
    opacity: 1;
}
.team-member:hover ul{
    opacity: 1;
}
i.red{
    color:#BC0213;
}
.profile .team-member.img-responsive, .team-member::after {
    border-radius: 100%;
}

.profile .team-member.img-responsive {
    width: 100%;
    height: 100%;
}

/* Sub menu icon color */
.submenu-text-edit, .dashicons-edit.submenu {
    color: greenyellow;
}

/* Settings menu icon size */
.dashicons-edit.settings:before {
    font-size: 33px;
}

.profile .team-member ul .team-member-phone {
    font-family: sans-serif;
}

.our-team-title p {
    font-family: 'Playfair Display', serif;
    font-size: 66px;
    line-height: 92px;
    text-align: center;
    color: #B1B1B1;
    font-weight: 900;
    margin: 0.67em 0;
}

/* Call button */

.our-team-container .call-us-button{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .call-us-button li {
    list-style: none;
  }
  
  .call-us-button li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #c7a77a;
    z-index: 1;
  }
  
  .call-us-button li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .call-us-button li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  .call-us-button li a:hover {
    border: 3px solid #fff;
  }
  
  .call-us-button li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .call-us-button li a:hover:before {
    top: 0;
  }
  
  .call-us-button li a:before{
    background: #DDA2B0;
  }

  /* Team member hover */

  .profile .team-member img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Team member description - Modal */
.team-member-description .modal-content {
    width: auto;
}

.modal .team-member-description-content {
    font-family: 'Playfair Display', serif;
    height: auto !important;
}

.team-member {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.team-member-description-call .call-us-button {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}

.team-member-description .team-member .img-responsive {
    -webkit-filter: drop-shadow(1px 1px 1px #ccc);
    filter: drop-shadow(1px 1px 1px #ccc);
}

.modal-our-team .modal-header {
    padding: 0px;
}

.modal-our-team .modal-content .modal-body-big {
    border: 4px solid #C7A77A;
    background-color: #e7ccd08c;
    padding: 1rem;
}

/* Description button */
.team-member-description {
    display: flex;
}

.team-member-description a:focus {
    outline: none;
}

.team-member-description .button-more {
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: linear-gradient(90deg, rgb(251, 249, 249) 0%, rgb(221, 162, 176) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 6px 3px 35px rgba(226, 176, 187, 0.67);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 5px;
    text-decoration: none;
}
  
.team-member-description .button-more {
    display: block;
}

.button-more:hover, .button-more:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button-more:hover::before, .button-more:focus::before {
    opacity: 1;
}

.button-more:hover::after, .button-more:focus::after {
    animation: none;
    display: none;
}

@media screen and (max-width: 991px) {
    .team-member-description .modal-content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .team-member-description .button-more {
        margin-left: 4rem;
        margin-bottom: 1rem;
    }
    .team-member-description {
        padding-top: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .team-member-description {
		margin-top: 2rem;
	}
}
