.services-main {
    background-color: #F5F5F5;
}

.services-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80% !important;
    margin: 0 auto;
    margin-bottom: 2rem;
    transition: all 0.5s;
    padding: 15px 10px 0 10px;
    border-radius: 15px;
}

.services .modal-title {
    margin-bottom: 1rem;
}

.modal-dialog .col-lg-7 .modal-header {
    border-bottom: none;
}

#modal-services .table td, .table th {
    padding: 0.2rem 0.75rem 0.2rem 0.75rem
}

#modal-services .modal-body .table tr {
    font-size: 14px !important;
}

#modal-services .modal-header {
    padding: 0px;
}

.modal-dialog {
    padding-top: 0.5rem;
}

#modal-services .modal-content .modal-body-big {
    border: 4px solid #C7A77A;
    background-color: #e7ccd08c;
    padding: 1rem;
}

.modal-body {
    border: 4px solid #C7A77A;
    background-color: #e7ccd08c;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.modal-body td {
    font-family: 'Playfair Display', serif;
}

.services, .our-team {
    padding-top: 3rem;
    font-family: 'Bad Script', cursive;
}

.services-title, .our-team-title {
    padding-top: 3rem;
}

.service{
    text-align: center;
}

.service h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #BE9359;
}

.services-title h1, .our-team-title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 66px;
    line-height: 92px;
    text-align: center;
    color: #B1B1B1;
    font-weight: 900;
}

.services-container:hover {
    cursor: pointer;
    /*transform: scale(1.05);*/
    transform: translate(0px, -20px);
}

.services-container a {
    text-decoration: none !important;
}

/* Sub menu icon color */
.submenu-text-edit, .dashicons-edit.submenu {
    color: greenyellow;
}

/* Settings menu icon size */
.dashicons-edit.settings:before {
    font-size: 33px;
}

@media screen and (max-width: 991px) {
    .modal-content {
        width: 300px;
        margin: 0 auto;
    }

    #modal-services .carousel-inner {
        height: 400px;
        /*width: 300px;*/
        /*margin: 0 auto;*/
    }
}

@media screen and (max-width: 400px) {
    .modal-content {
        width: 300px;
        margin: 0 auto;
    }

    #modal-services .carousel-inner {
        height: 400px;
        /*width: 300px;*/
        /*margin: 0 auto;*/
    }

    .modal-dialog {
        padding-top: 2rem;
    }
}

/* For desktop: */
@media screen and (min-width: 768px) {
    .services-container {
        max-width: 32% !important;
    }

    .services-containers {
        padding: 0px 20px 0px 20px;
    }
}
